        <!-- Header -->
        <header class="header bg--primary-color">

            <!-- Mobile header -->
            <div class="show-on-mobile pt1 pl2 pr2 mb1 full-width">
                <div class="pt1 pb1">
                    <div class="align--center">
                        <div>
                            <div class="mb1"><img class="logo--mobile" src="/img/mobile-logo.svg" alt="Bookmark" title="Bookmark"></div>
                        </div>
                        <div>
                            <!-- Mobile social links -->
                            <ul class="no-bullets list--inline">
                                <li class="mr2"><a class="link link--default" href="https://www.facebook.com/bookmarkguides"><img class="icon" src="/img/facebook.svg" alt="Facebook"></a></li>
                                <li class=""><a class="link link--default" href="https://www.instagram.com/bookmarkguides/"><img class="icon" src="/img/instagram.svg" alt="Instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Desktop header -->
            <!-- Desktop logo -->
            <h1 class="hide-on-mobile logo-container absolute block full-width align--center"><img class="logo--desktop" src="/img/desktop-logo.svg" alt="Bookmark" title="Bookmark"></h1>
            <!-- Social links -->
            <ul class="pt1 no-bullets align--center hide-on-mobile">
                <li><a class="link link--default" href="https://www.facebook.com/bookmarkguides"><img class="icon" src="/img/facebook.svg" alt="Facebook"></a></li>
                <li><a class="link link--default" href="https://www.instagram.com/bookmarkguides/"><img class="icon" src="/img/instagram.svg" alt="Instagram"></a></li>
            </ul>

        </header>